@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700&display=swap');

/* --------------------Colors */

.bg-color-name-title {
    background-color: #342534;
}

.ui-menu-color-about {
    background-color: #3d2b3d;
}

.ui-menu-color-experience {
    background-color: #3d2b3d;
}

.ui-menu-color-download-cv {
    background-color: #3d2b3d;
}

.ui-menu-color-connect {
    background-color: #3d2b3d;
}

/*--------------------Heading */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/profile.png");
    background-color: #342534;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "archivo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fffcf7;
}

.title {
    font-family: "archivo", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fffcf7;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu-container {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #fffcf7;
    height: 120px;    
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 22px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}